.TaskName {
  position: absolute;
  left: 255px;
  top: 65px;
  width: calc(100% - 295px);
  color: white;
}
.TaskName > :nth-child(1) {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.TaskName > :nth-child(1) > :nth-child(1) {
  color: var(--secondary-color);
}
.TaskName > :nth-child(2) {
  margin-bottom: 2rem;
}
.TaskName > :nth-child(3) {
  padding: 1rem;
  position: relative;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 6px;
  margin-bottom: 2rem;
}
.TaskName > :nth-child(3)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 6px 6px 0px 0px;
  background-color: var(--secondary-color);
  left: 0;
  top: 0px;
}
.TaskName > :nth-child(3) > :nth-child(1) {
  display: flex;
  gap: 8px;
  align-items: center;
}
.TaskName > :nth-child(3) > :nth-child(1) > :nth-child(2) {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}
.TaskName > :nth-child(3) > :nth-child(2) {
  border-radius: 8px;
  outline: none;
  padding: 8px;
  border: 1px solid #ffffff73;
  background-color: transparent;
  color: white;
  font-size: 12px;
}
.TaskName > :nth-child(3) > :nth-child(3) {
  max-width: 100%;
  max-height: 127px;
  background-color: transparent;
  border: 1px solid #ffffff73;
  padding: 10px;
  border-radius: 8px;
  height: 127px;
  outline: none;
  color: white;
  font-size: 12px;
}
.TaskName > :nth-child(3) > :nth-child(2)::placeholder,
.TaskName > :nth-child(3) > :nth-child(3)::placeholder {
  color: #ffffff37;
}
.downsection {
  display: flex;
  gap: 2rem;
  width: 100%;
}
.downsection .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.downsection .left .schedule {
  background-color: var(--main-color);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 6px;
  position: relative;
}
.downsection .left .schedule::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 6px 6px 0px 0px;
  background-color: var(--secondary-color);
  left: 0;
  top: 0px;
}
.downsection .left .schedule > :nth-child(3),
.downsection .left .schedule > :nth-child(2) {
  display: flex;
  gap: 12px;
  align-items: center;
}
.downsection .left .schedule > :nth-child(3) input,
.downsection .left .schedule > :nth-child(2) input {
  background-color: transparent;
  border: 1px solid #ffffff37;
  border-radius: 6px;
  padding: 8px;
  outline: none;
  color: white;
  margin-top: 5px;
}
.downsection .left .schedule > :nth-child(3) input::placeholder,
.downsection .left .schedule > :nth-child(2) input::placeholder {
  color: #ffffff37;
  color: #ffffff37;
}
.downsection .left .schedule > :nth-child(3) > :nth-child(2) input {
  margin-top: 23px;
}

.downsection .left .team {
  background-color: var(--main-color);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 6px;
  position: relative;
}
.downsection .left .team::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 6px 6px 0px 0px;
  background-color: var(--secondary-color);
  left: 0;
  top: 0px;
}
.downsection .left .team > :nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  align-items: self-start;
  color: white;
  justify-content: flex-start;
  font-weight: bold;
}
.downsection .left .team > :nth-child(2) > :nth-child(1),
.downsection .left .team > :nth-child(2) > :nth-child(2) {
  list-style: initial;
  color: white;
}
.downsection .right {
  flex: 2;
  background-color: var(--main-color);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 6px;
  position: relative;
}
.downsection .right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 6px 6px 0px 0px;
  background-color: var(--secondary-color);
  left: 0;
  top: 0px;
}
.downsection .right > :nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.downsection .right > :nth-child(1) > :nth-child(1) {
  display: flex;
  gap: 10px;
  align-items: center;
}
.downsection .right > :nth-child(1) > :nth-child(1) > :nth-child(2),
.downsection .right > :nth-child(1) > :nth-child(1) > :nth-child(3) {
  width: 2rem;
  height: 2rem;
  fill: var(--secondary-color);
  cursor: pointer;
}
.downsection .right > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  fill: #7db00e70;
}
.downsection .right > :nth-child(1) > :nth-child(2) {
  display: flex;
  gap: 10px;
  align-items: center;
}
.downsection .right > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  background-color: #7db00e70;
  padding: 3px;
  color: #ffffff8c;
}
.downsection .right > :nth-child(1) > :nth-child(2) > :nth-child(2) {
  display: flex;
}
.downsection
  .right
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(2)
  > :nth-child(1) {
  color: #ffffff37;
}
.downsection
  .right
  > :nth-child(1)
  > :nth-child(2)
  > :nth-child(2)
  > :nth-child(2) {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}
.downsection .right > :nth-child(1) > :nth-child(2) > :nth-child(3) {
  cursor: pointer;
}
table,
th,
td {
  border: 1px solid #ffffff37;
  border-collapse: collapse;
  text-align: center;
}
.table-task th {
  padding: 6px 1.5rem;
  background-color: #10394a;
}
.table-task td {
  padding: 2.5rem 1.5rem;
  position: relative;
}
.table-task td span {
  position: absolute;
  top: 5px;
  left: 5px;
}

.table-task tr:nth-of-type(2) > :not(:nth-last-child(1), :nth-last-child(2)) {
  color: #ffffff37;
}
.table-task tr:nth-of-type(7) > :not(:nth-child(1)) {
  color: #ffffff37;
}
.note-1 {
  margin: 20px 12px;
  padding: 4px;
  background-color: #ffffff37;
  border-radius: 6px;
}
.note-2 {
  background-color: #7db00e70;
  margin: 20px 12px;
  padding: 4px;
  border-radius: 6px;
}
.footer-new-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0px;
}
.footer-new-task > :nth-child(1) {
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid white;
  transition: 0.3s;
}
.footer-new-task > :nth-child(1):hover {
  background-color: var(--secondary-color);
}
.footer-new-task > :nth-child(2) {
  display: flex;
  gap: 1rem;
}
.footer-new-task > :nth-child(2) > :nth-child(1) {
  padding: 10px;
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.footer-new-task > :nth-child(2) > :nth-child(1):hover {
  background-color: var(--secondary-color);
  color: white;
}
.footer-new-task > :nth-child(2) > :nth-child(2) {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  transition: 0.3s;
}
.footer-new-task > :nth-child(2) > :nth-child(2):hover {
  background-color: transparent;
  color: var(--secondary-color);
}
@media screen and (max-width: 760px) {
  .TaskName {
    position: absolute;
    left: 2%;
    top: 65px;
    width: 96%;
    color: white;
  }
  .downsection {
    flex-direction: column;
  }
  .downsection .left .schedule > :nth-child(3) input,
  .downsection .left .schedule > :nth-child(2) input {
    width: 90%;
  }
  .downsection .right > :nth-child(1) > :nth-child(1) > :nth-child(2),
  .downsection .right > :nth-child(1) > :nth-child(1) > :nth-child(3) {
    width: 20px;
    height: 20px;
  }
  .table-task td {
    padding: 2.5rem 0.5rem;
  }
  .table-task th {
    padding: 6px 0.5rem;
  }
  .footer-new-task > :nth-child(2) > :nth-child(1) {
    font-size: 12px;
    font-weight: 400;
  }
}
@media screen and (max-width: 450px) {
  .table-task th {
    padding: 2px;
  }
  .footer-new-task > :nth-child(2) > :nth-child(1) {
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 14px;
    align-items: center;
  }
  .footer-new-task > :nth-child(1) {
    padding: 7px;
  }
  .footer-new-task > :nth-child(2) > :nth-child(2) {
    padding: 4px;

    font-size: 12px;
  }
  .downsection .right > :nth-child(1) {
    justify-content: space-around;
  }
  .downsection .right > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    font-size: 12px;
  }
  .downsection
    .right
    > :nth-child(1)
    > :nth-child(2)
    > :nth-child(2)
    > :nth-child(2) {
    font-size: 12px;
  }
  .downsection .right > :nth-child(1) > :nth-child(1) {
    gap: 0px;
  }
}
